---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
		<main class="py-8 w-[860px] mx-auto">
			<article class="flex flex-col">
        <div class="w-full mb-4 border-b pb-4">
          <h1 class="text-2xl">{title}</h1>
          <p class="text-sm mb-2">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </p>
          <p>TL;DR: {description}</p>
        </div>
        <div class="post-content">
          <slot />
        </div>
			</article>
		</main>
		<Footer />
	</body>
</html>

